html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --accent-color: #2196F3;
    --primary-text-color: #000000;
    --title-text-color: #757575;
    --focus-color: #FFFFFF;
}

body {
    margin: 0px 0px;
    padding-top: 80px;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--focus-color);

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /*outline: 2px solid red;*/
}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav {
    position: fixed;
    background-color: var(--focus-color);
    border: 1px solid #ECECEC;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo>span {
    color: var(--accent-color);
}


.site-nav {
    display: flex;
    margin-left: 85px;
}


.site-nav .item-nav+.item-nav {
    margin-left: 50px;

}

.site-nav .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--accent-color);
}


.item-nav .activ::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}



.site-nav .item-nav .activ {
    color: var(--accent-color);
}

.contacts-header {
    display: flex;
    margin-left: auto;

}

.icon-header {
    margin-right: 10px;
    fill: currentColor;
}

.contacts-header .item+.item {
    margin-left: 50px;

}

header .contacts-link {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
    color: var(--accent-color);
}

/*Портфолио */

.page-portfolio {
    padding-top: 93px;
    padding-bottom: 94px;
    /*background-color: violet;*/
}

.filter {
    display: flex;
    justify-content: center;

}

.filter .item+.item {
    margin-left: 8px;
}

.filter .button {
    padding: 6px 22px;
    border-radius: 4px;
    margin-bottom: 50px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: #F5F4FA;
    border: 1px solid transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus,
.filter .button:active {
    background-color: var(--accent-color);
    color: var(--focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;
}

.work-list {
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*background-color: teal;*/
}

.work-case {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 30px;
    height: 404px;
    border: 1px solid #EEEEEE;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-case:hover,
.work-case:active,
.work-case:focus {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-case img {
    display: block;
}

.img-overlay {
    position: relative;
}


.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(140%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-case:hover .text-overlay {
    transform: translate(0);
}

.work .work-excerpt {
    margin: 0;
    padding: 63px 24px;


    font-size: 18px;
    line-height: 1.56;
    color: var(--focus-color);
}

.work-case .work-name {
    padding: 20px 24px;
    /* background-color: rebeccapurple;*/
}

.work-case:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.work-case:nth-child(3n) {
    margin-right: 0;
}

.work-title {

    margin: 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}

.work-desk {
    margin-top: 4px;
    margin-bottom: 0px;
}

.work {
    text-decoration: none;
}


.work-desk {
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
}











/*футер*/

footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: #2F303A;
    font-size: 14px;
    line-height: 1.14;
    color: var(--focus-color);
}

.box .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.sign-networks {
    display: flex;
    margin-right: 93px;
}

.sign-networks .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.sign-networks .link:hover,
.sign-networks.link:focus,
.sign-networks.link:active {
    background-color: var(--accent-color);

}

.sign-networks .icon {
    fill: var(--focus-color);
}

.sign-networks .item {
    margin-right: 10px;
}


.footer-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


footer .button {

    border-radius: 4px;
    justify-content: center;
    width: 200px;
    height: 50px;
    align-items: center;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;

    letter-spacing: 0.06em;
    color: var(--focus-color);
    background: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-iconsend {
    fill: currentColor;
}

footer .button:hover,
footer .button:focus,
footer .button:active {
    color: var(--accent-color);
    background-color: var(--focus-color);
    border: 1px solid var(--accent-color);
    outline: none;
}

.contacts{
    margin-right: 70px;
}
footer .contacts-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



footer .contacts-item:hover,
.contacts-item:active,
.contacts-item:focus {
    color: var(--accent-color);
}

footer .contacts-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: var(--focus-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

footer .contacts-address:hover,
.contacts-address:focus,
.contacts-address:active {
    color: var(--accent-color);
}

footer>address {
    font-style: normal;
}

.icon-iconsend {
    margin-left: 10px;
}

.sign {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;

}